[submodule "resources/mzn/tests/minizinc-benchmarks"]
	path = resources/mzn/tests/minizinc-benchmarks
	url = https://github.com/informarte/minizinc-benchmarks.git
[submodule "resources/mzn/tests/minizinc-challenge-intake-tests"]
	path = resources/mzn/tests/minizinc-challenge-intake-tests
	url = https://github.com/MiniZinc/mzn-challenge-tests/
